extends layout

block content
  //progress(value="0")
  ul.channels-list
    li(ng-click="processChannel(channelId)", ng-repeat="(channelId, data) in channels | orderBy:'title'", ng-class="{selected: data.exists}") {{data.title}}
  channel-content
